Package: com.tko-cuber.jbshuffle
Name: JBShuffle
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: TKO-Cuber
Author: TKO-Cuber
Section: Tweaks
